body{
    padding:0px;
    margin:0px;
}

.arka{
    width: 100%;
    height: 100%;
    position: absolute;
}

.baslik {
    position: absolute;
    color: white;
    background-color: rgba(100,100,100,0.50);
    margin-left: 345px;
    margin-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    font-family: ariel;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: gray 0px 0px 10px 5px;
}
#middle{
    margin-left: 375px;
    width: 670px;
    height: 400px;
    position: absolute;
    background-color: rgba(60,60,60,0.70);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: ariel;
    border-radius: 15px;
    box-shadow: gray 0px 0px 10px 5px;
    margin-top: 190px;
    color: white;
}

.a {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
}

.a input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    border: none;
    box-shadow: black 0px 0px 5px 2px; 
    cursor: text;
}

.b {
    position: relative;
    margin-left: 400px;
    margin-top: 10px;
    top:-260px;
    font-size: 20px;
}

.b input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    border: none;
    box-shadow: black 0px 0px 5px 2px; 
    cursor: text;
}

select {
    position: absolute;
    width: 200px;
    height: 30px;
    margin-top: -225px;
    margin-left: 215px;
}

.btn {
    position: absolute;
    font-size: 20px;
    margin-left: 150px; 
    margin-top: -180px;
    width: 150px;;
    height:30px;
    border-radius: 10px;
    border: none;
    box-shadow: black 0px 0px 5px 2px; 
    cursor: pointer;
}

.btn:hover {
    box-shadow: white 0px 0px 10px 5px;
    background-color: rgb(20,20,20);
    color: white;
    transition: 500ms;
}

#cikisbtn {
    position: absolute;
    font-size: 20px;
    margin-left: 350px; 
    margin-top: -180px;
    width: 150px;;
    height:30px;
    border-radius: 10px;
    border: none;
    box-shadow: black 0px 0px 5px 2px; 
    cursor: pointer;
    background-color: rgba(255,0,0,0.7);
}

#cikisbtn:hover {
    transition: 500ms;
    box-shadow: black 0px 0px 15px 10px;
    background-color: red;
    color: white;
}

@media screen and (max-width:480px) {

/*test*/

#alt-sag {
    width: 100%;
	height:auto

}
#alt-sol {
    width: 100%;
	height:auto
}
/*test*/

}